span.miroit {
  background: url(resource://miroit/services/iconReader.png) no-repeat 0 0;
  /* background: url(chrome-extension://joenfdgfhhbclfbleelbagcmppfagfgk/services/iconReader.png) no-repeat 0 0; */
  width: 32px;
  height: 16px;
  display: inline-block;
  text-indent: -9999px;
}

span.miroit:hover {
  background-position: -32px 0;
}

span.miroit:active {
  background-position: -64px 0;
}

span.miroit.visited {
  background-position: -96px 0;
}
